Source: adaptation-droidian-starqlte
Maintainer: Bardia Moshiri
Section: metapackages
Priority: optional
Build-Depends: debhelper (>= 10)
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/droidian-devices/adaptation-droidian-starqlte
Vcs-Git: https://github.com/droidian-devices/adaptation-droidian-starqlte.git

Package: adaptation-droidian-starqlte
Architecture: all
Depends: ${misc:Depends},
         adaptation-hybris-api29-phone,
         adaptation-starqlte-configs,
         linux-bootimage-samsung-starqlte,
         wlr-randr,
Description: adapatation-starqlte-meta
 lavender api29 adaptation metapackage

Package: adaptation-starqlte-configs
Architecture: all
Depends: ${misc:Depends},
Description: starqlte's adaptation configs
